:root {
    /*colors*/
    --primary-color: #099d8d;
    /*fonts*/
    --primary-font: Rubik;
    --secondary-font: Open Sans;
}

body {
    font-family: var(--secondary-font);
    text-align: center;
}

h2 {
    font-family: var(--primary-font);
    font-size: 24px;
    color: #14d9c4;
    font-weight: 500;
}

h3 {
    font-size: 22px;
    font-family: var(--primary-font);
    color: var(--primary-color);
}

.header {
    font-family: var(--primary-font);
    color: white;
}

.header-title {
    background-color: var(--primary-color);
    opacity: 0.95;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

.header-menu {
    background-color: #14d9c4;
    opacity: 0.9;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.header-menu-item {
    padding-top: 8px;
    padding-bottom: 7px;
}

.hero-image {
    width: 100%;
    height: 421px;
    background-size: 100% 100%;
    background-image: url(../images/hero/1.jpg);
    object-fit: fill;
}

.motto {
    display: flex;
    align-items: center;
    position: absolute;
    background-color: white;
    width: 290px;
    height: 80px;
    margin: 15px;
    padding: 15px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600;
    font-size: 18px;
}

.equipo {
    margin-top: 86px;
    margin-bottom: 30px;
}
