<article class="card left">
    <div class="image-container">
      <img src="@@imgSrc" alt="@imgAlt" title="@@title" />
    </div>
    <div class="info-container">
      <h3 class="title-people">@@titleName</h3>
      <p>@@description</p>
      <span class="sm">
        <a
          href="@@hrefATwitter"
          text="@@text"
          target="@@target"
          title="@@ssmmTitle"
          ><i class="fab fa-twitter icons"></i>
        </a>
        <a
          href="@@hrefALinkedin"
          text="@@text"
          target="@@target"
          title="@@ssmmTitle"
          ><i class="fab fa-linkedin-in icons"></i>
        </a>
        <a
          href="@@hrefAGitHub"
          text="@@text"
          target="@@target"
          title="@@ssmmTitle"
          ><i class="fab fa-github-alt icons"></i>
        </a>
        <a 
          href="@@hrefACorreo"
          text="@@text"
          target="@@target"
          title="@@ssmmTitle"
          ><i class="fas fa-envelope icons"></i>
        </a>
      </span>
    </div>
  </article>