<header class="header">
  <div class="header-title">
    <h1><a href="./index.html">SAVAGES</a></h1>
  </div>
  <nav class="nav-header-menu">
    <ul class="header-menu">
      <li class="header-menu-item">
        <a class="btn-2" href="./index.html#team">EQUIPO</a>
      </li>
      <li class="header-menu-item">
        <a class="btn-2" href="./index.html#who">QUIÉNES SOMOS</a>
      </li>
      <li class="header-menu-item">
        <a class="btn-2" href="./contact.html">CONTACTO</a>
      </li>
    </ul>
  </nav>
</header>
