<section>
  <article class="team wrapper">
    <h2 class="title-team">EQUIPO</h2>
    <p>
      Nuestro espíritu indómito nos invita a salir de nuestra zona de confort
      para adentrarnos en este mundo de cambio constante y enfrentarnos a un
      reto nuevo cada día. Otros se sentirían incómodos en esta situación.
      Nosotras disfrutamos del camino.
    </p>
    <p>
      Tenemos instinto y garra para darte justo lo que necesitas con la máxima
      innovación.
    </p>
    <div class="bite"></div>
  </article>

  <!–– CREAR CONTAINER PARA STRENGTHS ETC ––>

  <article class="strengths-weaknesses">
    <div class="mainwho-container">
      <div class="strengths wrapper">
        <h3 class="title-secondary">Fortalezas</h3>
        <p>
          Nuestras diferentes trayectorias nos convierten en un equipo
          multidisciplinar con una amplia riqueza de competencias. Tenemos
          pasión por generar nuevas ideas, propuestas y soluciones, ¡no le
          ponemos freno a la creatividad!
        </p>
      </div>
      <div class="weaknesses wrapper">
        <h3 class="title-secondary">Debilidades</h3>
        <p>
          Puede que no tengamos aún mucha experiencia, pero si nos confías tu
          proyecto prometemos hacerlo con toda la dedicación y pasión del mundo
          y no pararemos hasta que quedes encantada/o.
        </p>
      </div>
    </div>
    <div id="who"></div>
  </article>
</section>
