/*colors*/
$primary-color: #099d8d;
$secondary-color: #14d9c4;
$grey-color: rgba(184, 184, 185, 0.1);
$grey-border: rgba(0, 0, 0, 0.08);
$grey-footer: #b8b8b9;
$grey-links-footer: #54585a;
/*fonts*/
$primary-font: Rubik;
$secondary-font: "Open Sans", sans-serif;
