#who {
  transform: translate(0, -50px);
}

.team {
  margin-bottom: 1.875rem;
}

.title-team {
  font-family: $primary-font;
  font-size: 1.5rem;
  color: #14d9c4;
  font-weight: 500;
}

.bite {
  position: relative;
  width: 30px;
  height: 30px;
  background-color: white;
  transform: translate(0, 50%) rotate(45deg);
  margin: auto;
  z-index: 14;
}
.strengths-weaknesses {
  background: $grey-color;
  padding-top: 1.875rem;
  padding-bottom: 2.813rem;
  width: 100%;
}

.mainwho-container {
  margin: auto;
  width: 100%;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  position: relative;
  @media all and (min-width: 768px) {
    display: flex;
    align-items: flex-start;
    max-width: 48rem;
  }
  @media all and (min-width: 1200px) {
    max-width: 1200px;
  }
}

.strengths {
  padding-bottom: 30px;
}

.title-secondary {
  font-size: 1.375rem;
  font-family: $primary-font;
  color: $primary-color;
  line-height: 45px;
}

@media all and (min-width: 768px) {
  .strengths-weaknesses {
    display: flex;
  }
  .strengths {
    padding-bottom: 0px;
  }
}
