:root {
  /*colors*/
  --primary-color: #099d8d;
  --grey-color: rgba(184, 184, 185, 0.1);
  --grey-border: rgba(0, 0, 0, 0.08);
  --grey-footer: #b8b8b9;
  --grey-links-footer: #54585a;
  /*fonts*/
  --primary-font: Rubik;
  --secondary-font: Open Sans;
  --icon-font: FontAwesome5BrandsRegular;

}

body {
  font-family: var(--secondary-font);
  text-align: center;
}

.title-team {
  font-family: var(--primary-font);
  font-size: 1.5rem;
  color: #14d9c4;
  font-weight: 500;
}

.title-who {
  font-family: var(--primary-font);
  font-size: 1.5rem;
  color: var(--primary-color);
  font-weight: 500;
  padding-bottom: 30px;
}

.title-secondary {
  font-size: 1.375rem;
  font-family: var(--primary-font);
  color: var(--primary-color);
}

.title-people {
  font-size: 1.25rem;
}

.header {
  font-family: var(--primary-font);
  color: white;
  position: fixed;
  width: 100vw;
}

.header-title {
  background-color: var(--primary-color);
  opacity: 0.95;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

.header-menu {
  background-color: #14d9c4;
  opacity: 0.9;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

.header-menu a{
  font-family: var(--primary-font);
  color: white;
  text-decoration: none;
}

.header-menu-item {
  padding-top: 8px;
  padding-bottom: 7px;
}

.hero-image {
  width: 100%;
  height: 421px;
  background-size: 100% 100%;
  background-image: url(../images/hero/1.jpg);
  object-fit: fill;
}

.motto {
  display: flex;
  align-items: center;
  position: absolute;
  background-color: white;
  width: 290px;
  height: 80px;
  margin: 15px;
  padding: 15px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 600;
  font-size: 18px;
}

.equipo {
  margin-top: 86px;
  margin-bottom: 30px;
}

.strengths-weaknesses {
  background: var(--grey-color);
 padding-top: 30px;
 padding-bottom: 45px;
}

.image-container {
  width: 180px;
  height: 180px;
  border: 5px solid var(--grey-border);
  border-radius: 4px;
  overflow: hidden;
  margin: auto;
}

.quienes-somos{
  padding-top: 30px;
}

.card {
  padding-bottom: 45px;
}

.sm{
  
}

.sm li {
  list-style-type: none;
  font-family: var(--icon-font);
}

.copyright{
  font-size: 14px;
  line-height: 20px;
  color: var(--grey-footer);
  font-family: var(--secondary-font);
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer-links a{
  list-style-type: none;
  line-height: 20px;
  font-size: 14px;
  color: var(--grey-links-footer);
  font-weight: bolder;
  text-decoration: none;
}

.logo-adalab{
  max-width: 116px;
  max-height: 45px;
  padding-top: 30px;
  margin: auto;
}

.main-footer{
  padding-bottom: 45px;
}